# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode

# OS files
.DS_Store

# Cursor
.cursor

# Misc
mise.toml
venv

# TypeComp local data
.typecomp
